.vs/Aura_Server/v15/Server/sqlite3/storage.ide-wal
.vs/Aura_Server/v15/Server/sqlite3/storage.ide-shm
.vs/Aura_Server/v15/Server/sqlite3/storage.ide
.vs/Aura_Server/v15/Server/sqlite3/db.lock
.sqlite
Aura_Server/bin/Debug/AuraDataBase.sqlite
Aura_Server/bin/Debug/AuraDataBase_ForLogs.sqlite
Aura_Server/bin/Debug/connect settings.txt
Aura_Server/Controller/BackupFilesSender.cs
